{
  "parserOptions": {
      "ecmaVersion": 6,
  },
  "env": {
        "es6": true,
        "browser": true
  },
  "extends": ["airbnb-base"],
  "rules": {
        "semi": ["error", "always"],
        'func-names': ["error", "as-needed"],
        'no-underscore-dangle': ["error", { "allow": [] }]
  }
}
